@mixin dark-background-bright-font {
	background-color: var(--background-dark);
	color: var(--text-white);

	input,
	select {
		color: inherit;
	}
	textarea {
		background-color: var(--background-dark);
		color: var(--text-white);
	}
}

@mixin center-content-mixin {
	margin: 0 auto;
	max-width: 1168px;
}
