@import './variables.css';
@import './reset.css';

@font-face {
	font-family: 'Medium';
	src: url('../assets/fonts/InterTight-Medium.ttf') format('ttf');
}

:root {
	--background-black: #000;
	--background-white: #f2f2f2;
	--background-dim-white: hsl(0, 12%, 94%);
	--background-dark: rgb(48, 41, 41);
	--background-pink: rgb(199, 97, 212);
	--background-blue: #003b95;
	--background-light-blue: #386ebe;
	--background-light-orange: #df9330;
	--background-light-gray: #83807c;
	--background-dark-gray: #5a5754;
	--background-green: rgb(14, 126, 14);
	--text-bright-white: hsl(0, 0%, 100%);
	--text-dark-gray: rgb(104, 101, 101);
	--text-white: hsl(0, 48%, 94%);
	--text-dim-white: hsl(0, 27%, 85%);
	--text-dark: rgb(0, 0, 0);
	--text-light-gray: rgb(158, 147, 147);
	--text-error-red: rgb(209, 25, 25);
	--btn-orange: rgb(236, 181, 29);
	--btn-green: rgb(50, 167, 85);
	--btn-red: rgb(241, 108, 31);
	--btn-black: rgb(7, 7, 6);
	--btn-blue: #003b95;
	--btn-light-blue: #386ebe;

	--border-orange: 2px solid rgb(238, 160, 16);
}
