.modal {
	position: fixed;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.box {
	margin: auto;
	padding: 0 10px 20px;
	width: 300px;
	position: relative;
	z-index: 30;
	top: 50%;
	transform: translate(0, -50%);
	background-color: var(--background-white);
	border: var(--border-orange);
	color: var(--text-dark);
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons button {
	margin: 0 5px;
}
