.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submitBtn {
	margin-top: 20px;
	width: 100%;
	padding: 5px 10px;
	background-color: #100530;
	color: white;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
}

.errorMessage {
	color: var(--text-error-red);
}
