%mail-base {
	width: 100%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 50px;
}

.mail {
	@extend %mail-base;

	background-color: var(--background-blue);

	color: var(--text-white);
}

.mailDark {
	@extend %mail-base;
	background-color: var(--background-light-gray);
	color: var(--text-dark);
}

.mailInputContainer > input {
	width: 300px;
	height: 30px;
	padding: 10px;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
}

.mailInputContainer > button {
	height: 50px;
	background-color: #0071c2;
	color: white;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.mailDark button {
	background-color: var(--btn-black);
}
