.reviews {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--backround-dark-gray);
}

.header {
	font-size: 24px;
	font-weight: 600;
}

.textarea {
	width: 100%;
	/* border: 1px solid lightblue; */
	border-radius: 8px;
	min-height: 3rem;
}

.addBtn {
	min-width: 80px;
	padding: 0.3rem 1rem;
	font-family: inherit;
	border: 1px solid transparent;
	background: rgb(255, 170, 13);
	border-radius: 6px;
	font-size: 18px;
}

.addBtn:hover {
	border: 1px solid black;
}
