@use '#styles/mixins' as mixins;

%page-base {
	position: relative;

	overflow-x: hidden; //get rid of horizontal scroll bar
}

.pageLight {
	@extend %page-base;
	background-color: #fff;
	color: var(--text-dark);
}

.pageDark {
	@extend %page-base;
	@include mixins.dark-background-bright-font;
}
